In [9]:
#print statment
print("HOPE AI")
#Buy input
input("Enter your institute name? :")
input("Enter your name:")
input("Enter your age:")
input("Enter your school name")
input("Enter your degree:")

HOPE AI

Enter your institute name? : Hope Ai
Enter your name: priyanka
Enter your age: 30
Enter your school name Adhyaaman
Enter your degree: BE CSE

'BE CSE'

In [11]:
#Addition
num1=int(input("num1 ="))
num2=int(input("num2 ="))
print("Add =",num1+num2)

num1 = 43
num2 = 34

Add = 77

In [27]:
#Subtraction
num1=int(input("num1 ="))
num2=int(input("num2 ="))
print("Subtraction =",num1-num2)

num1 = 43
num2 = 34

Subtraction = 9

In [29]:
#Multiplication
num1=int(input("num1 ="))
num2=int(input("num2 ="))
print("Multiplication =",num1*num2)

num1 = 63
num2 = 97

Multiplication = 6111

In [31]:
#Division
num1=int(input("num1 ="))
num2=int(input("num2 ="))
print("Division =",num1/num2)

num1 = 76
num2 = 31

Division = 2.4516129032258065

In [19]:
#floor division
num1=int(input("num1 ="))
num2=int(input("num2 ="))
print("floor division =",num1//num2)

num1 = 76
num2 = 31

Add = 2

In [33]:
#Modulo
num1=int(input("num1 ="))
num2=int(input("num2 ="))
print("Modulo =",num1%num2)

num1 = 76
num2 = 31

Modulo = 14

In [25]:
#power
num1=int(input("num1 ="))
num2=int(input("num2 ="))
print("power =",num1**num2)

num1 = 4
num2 = 4

power = 256